<div class="panel" id="this-week-schedule">
	<div class="panelHeader">
		<span class="label">
			<i class="zmdi zmdi-assignment" style="font-size:18px; margin-right:10px;"></i>
			Upcoming Services
		</span>
		<div class="panelHeaderActionIcon">
			<i class="zmdi zmdi-more"></i>
		</div>
	</div>
	<div class="title-section">
		Sunday Morning
	</div>
	<div class="schedule-date-section">
		Sunday, January 12, 2017
	</div>
	<div class="scroll-section">
		<div class="panelsection">
			<div class="panelSectionTitle">Songs</div>
			<table>
				<tr style="height:30px;">
					<td>Song Name</td>
					<td>Listen</td>
					<td>Print</td>
					<td>Key</td>
					<td>Open</td>
				</tr>
				<tr>
					<td>1. <songName>Everlasting God</songName></td>
					<td><i class="zmdi zmdi-youtube-play zmdi-hc-lg"></i></td>
					<td><i class="zmdi zmdi-print zmdi-hc-lg"></i></td>
					<td>A</td>
					<td><i class="zmdi zmdi-local-library zmdi-hc-lg"></i></td>
				</tr>
				<tr>
					<td>2. <songName>Rock of Ages</songName></td>
					<td><i class="zmdi zmdi-youtube-play zmdi-hc-lg"></i></td>
					<td><i class="zmdi zmdi-print zmdi-hc"></i></td>
					<td>Eb</td>
					<td><i class="zmdi zmdi-local-library zmdi-hc-lg"></i></td>
				</tr>		
				<tr>
					<td>3. <songName>Your Name</songName></td>
					<td><i class="zmdi zmdi-youtube-play zmdi-hc-lg"></i></td>
					<td><i class="zmdi zmdi-print zmdi-hc-lg"></i></td>
					<td>G</td>
					<td><i class="zmdi zmdi-local-library zmdi-hc-lg"></i></td>
				</tr>			
				<tr>
					<td>4. <blank>(none selected) Make a suggestion</blank></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>						
			</table>
		</div>

		<div class="panelsection">
			<div class="panelSectionTitle">Participants</div>
				<div class="row">
					<div class="col-50">
						<span class="panelSectionSubTitle">Praise Team</span>
						<li><label>Lead</label><user>Randy</user></li>
						<li><label>Singers</label><user>Randy</user><user>Judy</user><user>Grace</user></li>
						<li><label>Electric Guitar</label><user>Tim</user></li>
						<li><label>Bass Guitar</label><user>Skip</user></li>
						<li><label>Drums</label><user>Denny</user></li>
						<li><label>Trumpet</label><user>Ken</user></li>
					</div>
					<div class="col-50">
						<span class="panelSectionSubTitle">Soloists and Speakers</span>
						<li><label>Speaker</label><user>Paul</user></li>
						<li><label>Special Music</label><user>Voices of Praise</user></li>
					</div>
				</div>
				<div class="row">
					<div class="col-50">
						<span class="panelSectionSubTitle">Sound & Media Team</span>
						<li><label>Sound</label><user>Jason</user></li>
						<li><label>Song Slides</label><user>Paul</user></li>
						<li><label>Sermon Slides</label><user>Tim</user></li>
					</div>							
					<div class="col-50">
						<span class="panelSectionSubTitle">Other Helpers</span>
							<li>N/A</li>
					</div>							
			</div>	
		</div>

		<div class="panelsection">
			<div class="panelSectionTitle">Sermon Details</div>
				<div class="row">
					<div class="col-100">
						<li><label>Sermon Title</label>There and Back Again</li>
						<li><label>Sermon Theme</label>Hobbits</li>
						<li><label>Scripture</label>“Do you wish me a good morning, or mean that it is a good morning whether I want it or not; or that you feel good this morning; or that it is a morning to be good on?” 
― J.R.R. Tolkien, The Hobbit</li>
					</div>							
			</div>	
		</div>				
		<div class="panelsection orderOfService">
			<div class="panelSectionTitle">Order of Service</div>

			<li><time>7:30am</time>Practice prep</li>
			<li><time>7:45am</time>Worship practice</li>
			<li><time>8:10am</time>Choir practice</li>
			<li><time>8:25am</time>Countdown begins</li>
			<li><time>8:30am</time>Invocation: <user>Paul</user></li>
			<li><time>8:33am</time>Worship Set</li>
			<note>Mics for <user>Judy</user> <user>Grace</user> and <user>Randy</user></note>					
			<li><time>8:48am</time>Choir Song: <choirsong>When It's All Been Said and Done</choirsong></li>
				<note><user>Daryl</user> will need a mic for his solo. CD1 Track 24</note>
			<li><time>8:53am</time>Welcome / Announcments</li>
			<li><time>8:57am</time>Special Music</li>
			<li><time>9:05am</time>Sermon</li>
			<li><time>9:50am</time>Prayer and Offering</li>
			<li><time>9:55am</time>Faith Family Cafe opens</li>
			<li><time>10:00am</time>Sunday School and Adult Discipleship begin</li>
			<li><time>11:10am</time>Countdown begins</li>
			<li><time>11:15am</time>Invocation: <user>Paul</user></li>
			<li><time>11:18am</time>Worship Set</li>
			<li><time>11:32am</time>Choir Song: <choirsong>When It's All Been Said and Done</choirsong></li>
			<li><time>11:37am</time>Welcome / Announcments</li>
			<li><time>11:42am</time>Special Music</li>
			<li><time>11:50am</time>Sermon</li>
			<li><time>12:35am</time>Prayer and Offering</li>
			<li><time>12:38am</time>Church Dismissed</li>
		</div>				
	</div>
</div>