<div class="headerBar">
	<div class="headerBarLock">
		<i class="zmdi zmdi-lock zmdi-hc-lg"></i>
	</div>
	<div class="logo">
		<img class="logo-img" src="logo_v2.png" style="width:100%; height:auto;">
		<img class="logo-img-tiny" src="logo_tiny.png" style="height:auto;">
	</div>
	<div class="menu" id="menu">
		<a>Home</a>
		<sub>
				<a href="index.shtml">This Week</a>
			</sub>
		<a>Admin</a>
		<sub>
				<a class="menu-priority admin" href="add-song.shtml"><i class="zmdi zmdi-key zmdi-hc-lg"></i>Add Song</a>
				<a class="menu-priority admin" href="add-schedule.shtml"><i class="zmdi zmdi-key zmdi-hc-lg"></i>Add Schedule</a>
				<a class="menu-priority admin"><i class="zmdi zmdi-key zmdi-hc-lg"></i>Manage Members</a>
				<a class="menu-priority admin"><i class="zmdi zmdi-key zmdi-hc-lg"></i>Manage Guests</a>
				<a class="menu-priority admin"><i class="zmdi zmdi-key zmdi-hc-lg"></i>Admin Options</a>
			</sub>
		<a>Songs</a>
		<sub>
				<a href="all-songs.shtml">All Songs</a>
				<a>New Songs</a>
				<a>Song Statistics</a>
		</sub>
		<a>Events</a>
		<sub>
				<a>Upcoming Events</a>
				<a>View Archive</a>
		</sub>
		<a>Members</a>
		<sub>
				<a>View Members</a>
		</sub>
		<a>Tools</a>
		<sub>
				<a>Digital Music Stand</a>
				<a>Online keyboard</a>
		</sub>
<!-- 		<a>Account</a>
		<sub>
				<a>Manage Settings</a>
		</sub> -->
		<a>Help</a>
		<sub>
				<a>FAQs</a>
				<a>Contact Us</a>
		</sub>
	</div>
	<div class="userAccountHeaderBar">
		<div class="accountWelcome">
			Randy Cotter <br>
			<a href="#">Settings</a>
			<a href="#">Logout</a>
		</div>
		<div class="avatar" style="background-image:url(https://scontent.xx.fbcdn.net/v/t1.0-9/16602887_685256424898_5909722991962128053_n.jpg?oh=eff705a4dd62cb657bb4b81e35736b04&oe=590CF563)">
		</div>
	</div>

</div>