<div class="panel" id="news-notifications">
	<div class="panelHeader">
		<span class="label">
			<i class="zmdi zmdi-assignment" style="font-size:18px; margin-right:10px;"></i>
			News
		</span>
		<div class="panelHeaderActionIcon">
			<i class="zmdi zmdi-more"></i>
		</div>
	</div>
</div>
