<div class="headerBar">
	<div class="logo">
		<img class="logo-img" src="assets/logo_v2.png" style="width:100%; height:auto;">
		<img class="logo-img-tiny" src="assets/logo_tiny.png" style="width:100%; height:auto;">
	</div>

	<div class="menu" id="menu">
			<a>Home</a>
		<sub>
			<a href="<%= root_url %>">This Week</a>
		</sub>
		<a>Admin</a>
		<sub>
			<a class="menu-priority admin" href="songs">Add Song<i class="zmdi zmdi-key zmdi-hc-lg"></i></a>
			<a class="menu-priority admin">Add Schedule<i class="zmdi zmdi-key zmdi-hc-lg"></i></a>
			<a class="menu-priority admin">Manage Members<i class="zmdi zmdi-key zmdi-hc-lg"></i></a>
			<a class="menu-priority admin">Manage Guests<i class="zmdi zmdi-key zmdi-hc-lg"></i></a>
			<a class="menu-priority admin">Admin Options<i class="zmdi zmdi-key zmdi-hc-lg"></i></a>
		</sub>
		<a>Songs</a>
		<sub>
			<a>All Songs</a>
			<a>Song Stats</a>
		</sub>
		<a>Schedules</a>
		<sub>
			<a>View All Schedules</a>
		</sub>
		<a>Members</a>
		<sub>
			<a>Forums</a>
			<a>View All</a>
			<a>Praise + Sound</a>
			<a>Pastoral</a>
			<a>Choir</a>
		</sub>
		<a>Tools</a>
		<sub>
			<a>Digital Music Stand</a>
			<a>Online keyboard</a>
		</sub>
		<a>Account</a>
		<sub>
			<a>Manage Settings</a>
		</sub>
		<a>Help</a>
		<sub>
			<a>FAQs</a>
			<a>Contact Us</a>
		</sub>
	</div>

	<div class="userAccountHeaderBar">
		Welcome Randy <br><a href="#">Logout</a><a href="#">Settings</a>
		<div class="avatar"></div>
	</div>
</div>