<div class="news-icon">
	<i class="zmdi zmdi-rss zmdi-hc-lg"></i>
</div>

<div class="chat-notification-icon">
	<i class="zmdi zmdi-comment-text zmdi-hc-lg"></i>
	<div class="count">14</div>
</div>


<div class="workspace one wide">

	<%= render 'shared/main_panel' %>

	<%= render 'shared/secondary_panel' %>

</div>
